<h1>@<%= @user.username %></h1>

<table>
  <tr>
    <td>
      <% if @user.avatar.url %> <!-- this returns true if the user has uploaded a photo -->
        <%= image_tag @user.avatar.url, width: 150 %>
      <% else %>
        <%= image_tag 'blank-profile-pic.jpg', width: 150 %>
      <% end %>
    </td>
    <td>
      <p><strong>Name:</strong> <%= @user.name %></p>
      <p><strong>City:</strong> <%= @user.city %>, <%= @user.state %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Bio:</strong> <%= @user.bio %></p>
      <% if @user == current_user %>
        <%= render 'new_tweet', tweet: @tweet %>
      <% else %>
        <% if current_user.following.include?(@user.id.to_s) %>
          <%= link_to "Following", unfollow_user_url(id: @user.id), class: "btn btn-success", id: "unfollow_btn" %>
        <% else %>
          <%= link_to "Follow", follow_user_url(id: @user.id), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<% @user.tweets.each do |tweet| %>
  <%= render 'shared/tweet', tweet: tweet %>
<% end %>
