<!DOCTYPE html>
<html>

  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in?  %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <%= link_to "Timeline", timeline_url, class: "navbar-text" %>
            <%= link_to "Users", tweet_users_url, class: "navbar-text" %>
            <%= link_to "Profile", user_url(id: current_user.id), class: "navbar-text" %>
              <p class="navbar-user-info">
                Signed in as @<%= current_user.username %> <span> </span>
                <%= link_to "Sign Out", destroy_user_session_url, method: :delete, class: "btn btn-info navbar-btn" %>
              </p>
        </div>
      </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %> <!-- this is where all of the other views are rendered -->
    </div>
  </body>

</html>
